:root {
    --header-text-color: #000000;
    --header-bg-color: #ffffff;
    --header-box-shadow-color: #0000001a;
    --header-active-link-color: #3167FF;
    --price-highlight-color: #D75D33;
    --plans-page-bg-color: #FFFDF7;
    --plans-page-text-color: #333333;
    --accordion-bottom-border-color: #DFDDD8;
    --meal-info-text-color: #707070;
    --meals-stats-border-color: #DFDFDF;
    --days-page-border-color: #C7C8C9;
    --meals-cart-border-color: #EDEDED;
    --meals-cart-controls-color: #717171;
    --meals-cart-meal-bg-color: #F3F3F3;
    --checkout-page-border-color: #9D9D9D;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../font/Roboto-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../font/Roboto-Bold.ttf") format("truetype");
    font-display: swap;
}

/* Body Styles */
.main-container {
    font-family: 'Roboto-Regular', sans-serif;
    background: var(--plans-page-bg-color);
}

.main-container .plans-page-body {
    background-color: var(--plans-page-bg-color);
}

.plans-page-body .plan-page-main {
    width: 100%;
    max-width: 1050px;
}

/* NavBar Styles */
.main-container .breadcrumb-nav {
    background-color: var(--header-bg-color);
    box-shadow: 0 1px 3px var(--header-box-shadow-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: var(--header-text-color);
    margin: 0 10px;
}

.breadcrumb .breadcrumb-link-active {
    color: var(--header-active-link-color);
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.breadcrumb .breadcrumb-link {
    color: var(--header-text-color);
    font-size: 14px;
    cursor: default;
}

.breadcrumb-item:not(.disabled) a {
    cursor: pointer;
}

.breadcrumb-item:not(.disabled):not(.breadcrumb-item-active) a {
    cursor: pointer;
    text-decoration: none;
}

.breadcrumb-item:not(.disabled):not(.breadcrumb-item-active) a:hover {
    text-decoration: underline !important;
}

/* Main Content Styles */
.plan-page-header .logo {
    width: 100%;
    max-width: 83px;
    height: auto;
}

.plan-page-header .main-title {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 36px;
    color: var(--plans-page-text-color);
}

.plan-page-header .main-description {
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
    color: var(--plans-page-text-color);
}

.plan-page-header .price-highlight {
    color: var(--price-highlight-color);
    font-family: 'Roboto-Bold', sans-serif;
}

.plan-page-header .main-description-highlight {
    font-family: 'Roboto-Bold', sans-serif;
}

/* Card Styles */
.meal-card-wrapper {
    cursor: pointer;
}

.meal-card-wrapper .meal-plan-card {
    border-radius: 15px;
    border: none;
    position: relative;
}

.meal-plan-card .image-container {
    overflow: hidden;
    border-radius: 15px;
}

.image-container .card-img-top {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
    max-height: 200px;
    width: 100%;
    transition: transform 0.2s ease-in-out;
    display: block;
}

@keyframes blink-img {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-container:hover .card-img-top {
    transform: scale(1.1);
}

.col-6:not(:first-child) .image-container:hover .card-img-top {
    animation: blink-img 0.1s steps(1, start);
}

.meal-plan-card .save-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--header-bg-color);
    color: var(--plans-page-text-color);
    padding: 1px 10px;
    border-radius: 20px;
    font-size: 14px;
    z-index: 1;
}

.card-description {
    padding-top: 8px;
}

.card-description .meal-count {
    font-size: 24px;
    color: var(--header-text-color);
    font-family: 'Roboto-Bold', sans-serif;
}

.card-description .per-week {
    font-size: 14px;
    color: var(--header-text-color);
    font-family: 'Roboto-Medium', sans-serif;
}

.price-info .price-highlight {
    color: var(--price-highlight-color);
    font-family: 'Roboto-Bold', sans-serif;
}

.card-description .plan-price {
    font-size: 16px;
    font-family: 'Roboto-Medium', sans-serif;
}

.card-description .per-meal-price {
    color: var(--header-text-color);
    font-size: 16px;
    margin: 0;
    font-family: 'Roboto-Medium', sans-serif;
}

/* Footer Styles */
.plans-page-footer .shipping-text {
    color: var(--header-text-color);
    font-size: 14px;
}

.plans-page-footer .get-started-btn {
    display: inline-block;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 5px;
    transition: all 0.3s ease;
    min-width: 160px;
}

.plans-page-footer .get-started-btn:hover {
    min-width: 400px;
}

/* Delivery Date Section */
.days-page-main {
    background-color: var(--plans-page-bg-color);
}

.delivery-day-main {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 48px;
}

.days-page-main .delivery-date-section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.delivery-date-section .delivery-dates-container {
    background: var(--header-bg-color);
    overflow-y: auto;
    height: 100%;
    max-height: 350px;
    border-top: 1px solid var(--header-text-color);
}

.delivery-dates-container .date-option {
    padding: 15px 20px;
    border-top: 0.5px solid var(--header-text-color);
    border-left: 1px solid var(--header-text-color);
    border-bottom: 0.5px solid var(--header-text-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease, border-left 0.2s ease;
    position: relative;
    background: var(--header-bg-color);
    max-width: 98%;
    box-sizing: border-box;
}

.delivery-dates-container .date-option:first-child {
    border-top: none;
}

.delivery-dates-container .date-option:last-child {
    border-bottom: none;
}

.delivery-dates-container .date-option:hover {
    transform: translateX(5px);
}

.date-option.selected {
    border-left: 8px solid var(--price-highlight-color);
}

.delivery-dates-container .date-text {
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--plans-page-text-color);
    font-size: 14px;
}

.date-option .most-popular-tag {
    color: var(--price-highlight-color);
    font-size: 12px;
    font-family: 'Roboto-Regular', sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
}

.date-option .most-popular-tag::before {
    content: "☆";
    font-size: 12px;
}

.days-page-main.container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.delivery-date-section .next-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    border: none;
    border-radius: 8px;
    font-family: 'Roboto-Medium', sans-serif;
    cursor: pointer;
    font-size: 18px;
}

.delivery-info {
    font-size: 12px;
}

.delivery-date-section .selected-date {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 16px;
    color: var(--header-text-color);
}

.common-questions-main {
    border-top: 1px solid var(--days-page-border-color);
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.common-question-header {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 48px;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.accordion-header .accordion-button {
    font-size: 16px;
    font-family: "Roboto-Medium", sans-serif;
    color: var(--header-text-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--accordion-bottom-border-color);
    height: 100%;
    min-height: 70px;
    padding: 0px;
}

.accordion-header .accordion-button:not(.collapsed) {
    color: var(--price-highlight-color);
    box-shadow: none;
}

.accordion-header .accordion-button.collapsed {
    height: 100%;
    min-height: 70px;
}

.accordion-header .accordion-button:focus {
    box-shadow: none;
}

.accordion-main-panel {
    width: 100%;
    max-width: 78%;
    margin: 0 auto;
    margin-bottom: 300px;
}

.accordion-main-panel .accordion-panel-item {
    border: none;
    background-color: var(--plans-page-bg-color);
}

.accordion-button::after {
    display: none;
}

.chevron-icon {
    transition: transform;
}

.accordion-button.collapsed .chevron-icon {
    transform: rotate(0deg);
}

.accordion-button:not(.collapsed) .chevron-icon {
    transform: rotate(180deg);
}

.accordion-description {
    width: 100%;
    max-width: 94%;
    font-size: 16px;
    margin: auto;
    padding: 20px 5px;
}

/* Meals Section Styles */
#meals-section {
    background-color: var(--plans-page-bg-color);
}

#meals-grid {
    padding: 20px 0;
}

.meal-card {
    background: var(--header-bg-color);
    border: 1px solid var(--meals-stats-border-color);
    border-radius: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.meal-card .meal-image-container {
    position: relative;
    padding-top: 64%;
}

.meal-image-container .meal-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.meal-image-container .price-tag {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--price-highlight-color);
    color: var(--header-bg-color);
    font-size: 12px;
    font-family: 'Roboto-Medium', sans-serif;
    padding: 4px 10px;
    z-index: 2;
}

.meal-card .meal-info {
    display: flex;
    flex-direction: column;
}

.cart-item .meal-name {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    padding: 0 20px 0px 10px;
    margin: 0;
}

.meal-card-main .meal-name {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    padding: 10px 5px 0px 5px;
}

.meal-info .meal-ingredients {
    font-size: 12px;
    color: var(--meal-info-text-color);
    padding: 0px 5px;
}

.meal-footer .meal-stats {
    color: var(--meal-info-text-color);
}

.meal-stats .stat-item {
    display: flex;
    align-items: center;
}

.meal-stats .stat-value {
    font-size: 12px;
    color: var(--meal-info-text-color);
}

.meal-stats .stat-label {
    font-size: 12px;
    color: var(--meal-info-text-color);
}

.meal-stats .add-meal-btn {
    margin-left: auto;
    padding: 7px 14px;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.meal-stats .add-meal-btn.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.meal-stats .gluten-stats,
.meal-stats .calories-stats,
.meal-stats .carbs-stats {
    border-right: 1px solid var(--meals-stats-border-color);
}

.meal-stats .gluten-stats {
    padding: 0px 5px;
}

.meal-stats .calories-stats,
.meal-stats .carbs-stats,
.meal-stats .proteins-stats {
    padding: 0px 2px;
}

.meal-card.special {
    background: var(--header-text-color);
    color: var(--header-bg-color);
}

.meal-card.special .meal-name,
.meal-card.special .meal-ingredients,
.meal-card.special .stat-value,
.meal-card.special .stat-label {
    color: var(--header-bg-color);
}

.add-btn-wrapper {
    padding-right: 8px;
}

.meal-card.special .add-meal-btn {
    background: linear-gradient(to right, #AF2081, #533174);
}

/* Cart Styles */
.cart-main {
    position: fixed;
    right: 0;
}

.cart-container {
    background: var(--header-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.cart-container .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--meals-cart-border-color);
}

.cart-header .clear-all {
    border: none;
    background: var(--header-bg-color);
    color: var(--header-active-link-color);
    text-decoration: underline;
    font-size: 12px;
}

.delivery-info .selected-date {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 12px;
    color: var(--header-text-color);
}

.cart-items-container {
    overflow-y: auto;
    height: auto;
    max-height: 350px;
}

.cart-container .order-summary {
    padding: 20px 10px 0 10px;
    position: relative;
    z-index: 1;
}

.order-summary .order-summary-main {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 0 15px 0 5px;
    background-color: var(--meals-cart-meal-bg-color);
    margin-bottom: 4px;
}

.cart-item.special {
    background-color: var(--header-text-color);
    color: var(--header-bg-color);
    margin-bottom: 4px;
}

.cart-item .price-tag {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--price-highlight-color);
    color: var(--header-bg-color);
    font-size: 12px;
    padding: 2px 4px;
    z-index: 10;
}

.cart-item .cart-img-wrapper {
    position: relative;
}

.cart-item .meal-thumb {
    width: 100%;
    max-width: 110px;
    height: 100%;
    min-height: 60px;
    object-fit: cover;
}

.cart-item .meal-info {
    flex: 1;
}

.cart-item .item-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.cart-item .remove-item,
.cart-item .add-item {
    background: none;
    border: none;
    color: var(--meals-cart-controls-color);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item.special .remove-item,
.cart-item.special .add-item {
    color: var(--header-bg-color);
}

/* Order Summary Styles */
.order-summary .meals-count {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}

.order-summary .subtotal {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
}

.cart-footer .subtotal-footer {
    margin-bottom: 10px;
}

.subtotal-footer .footer-dollar {
    color: var(--price-highlight-color);
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.subtotal-footer .footer-subtotal {
    font-size: 14px;
}

.subtotal-footer .cart-icon-container {
    border: 1px solid var(--meals-cart-border-color);
    border-radius: 25px;
    width: 100%;
    max-width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
}

.cart-icon-container .cart-icon {
    width: 100%;
    max-width: 16px;
    height: 100%;
    max-height: 16px;
}

.cart-icon-container .cart-item-count {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 16px;
    color: var(--price-highlight-color);
}

.additional-charges {
    color: var(--price-highlight-color);
    margin-left: 5px;
}

.order-summary .tax-note {
    font-size: 12px;
    margin: 15px 0;
    text-align: center;
}

/* Cart Footer */
.cart-container .cart-footer {
    border-top: 1px solid var(--meals-cart-border-color);
    border-radius: 15px;
    margin-top: 20px;
    padding: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--header-bg-color);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.cart-footer .next-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.cart-footer .next-btn:disabled {
    background: linear-gradient(to right, #AF2081, #533174);
    cursor: not-allowed;
    opacity: 0.6;
}

.meals-remaining {
    font-size: 12px;
    color: var(--price-highlight-color);
    text-align: center;
    margin: 0;
}

/* Mobile Cart Styles */
.mobile-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.mobile-cart .subtotal {
    font-size: 16px;
}

.mobile-cart .subtotal-footer {
    width: 100%;
}

.mobile-cart .cart-count {
    color: var(--price-highlight-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.mobile-cart .next-btn {
    padding: 8px 20px;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    border: none;
    cursor: pointer;
    width: 100%;
}

.mobile-cart .next-btn:disabled {
    background: linear-gradient(to right, #AF2081, #533174);
    cursor: not-allowed;
    opacity: 0.5;
}

.mobile-cart .meals-remaining {
    font-size: 12px;
    margin: 0;
}

/* Checkout Section Styles */
#checkout-section {
    background-color: var(--plans-page-bg-color);
}

#checkout-section .checkout-card {
    border-radius: 0px;
    border: 1px solid var(--meals-cart-border-color);
    padding: 20px 40px;
}

#checkout-section .order-summary-card {
    border-radius: 0px;
    border: 1px solid var(--meals-cart-border-color);
    padding: 0px;
}

.checkout-form-main {
    width: 100%;
    max-width: 581px;
}

.order-summary-container {
    width: 100%;
    max-width: 418px;
}

.checkout-form-main .checkout-left-header,
.order-summary-container .checkout-right-header {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 23px;
}

.checkout-form-container .zip-change-opt {
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--header-active-link-color);
}

.checkout-form-container .form-sms {
    font-size: 14px;
}

.checkout-form-header {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 18px;
}

.checkout-form-container .form-label {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.checkout-form-container .form-control {
    border: 1px solid var(--checkout-page-border-color);
}

.checkout-form-container .checkout-btn {
    background: linear-gradient(to right, #AF2081, #533174);
    border: none;
    padding: 16px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 14px;
}

.order-summary-promo {
    color: var(--header-active-link-color);
    font-size: 15px;
    padding: 10px 10px;
    border-bottom: 1px solid var(--meals-cart-border-color);
}

.order-summary-card .checkout-order-container {
    border-bottom: 1px solid var(--meals-cart-border-color);
    padding-bottom: 15px;
}

.order-date-header {
    padding: 0px 10px;
}

.checkout-order-container .order-date-main {
    border: 1px solid var(--checkout-page-border-color);
}

.order-summary-card .checkout-order-date {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    padding: 0px 10px;
}

.order-summary-details .order-meals,
.order-summary-details .order-shipping,
.order-summary-details .order-tax,
.order-summary-details .order-total {
    border-bottom: 1px solid var(--meals-cart-border-color);
    padding: 10px;
}

.order-summary-details .order-meals-header,
.order-summary-details .order-shipping-header,
.order-summary-details .order-tax-header,
.order-summary-details .order-total-header {
    font-size: 14px;
}

.order-summary-details .order-meal-value {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.order-summary-details .order-total-value {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    color: var(--price-highlight-color);
}

.order-summary-details .order-discount {
    border-bottom: 1px solid var(--meals-cart-border-color);
    padding: 10px;
}

.order-summary-details .order-discount-header {
    font-size: 14px;
}

.order-summary-details .order-discount .order-meal-value {
    color: var(--price-highlight-color);
}

.selected-meals-list .meal-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--header-bg-color);
    border: 1px solid var(--meals-cart-border-color);
}

.selected-meals-list .meal-item .meal-details {
    flex-grow: 1;
}

.selected-meals-list .meal-item.special-meal {
    background-color: var(--header-text-color);
}

.selected-meals-list .meal-item.special-meal .meal-name,
.selected-meals-list .meal-item.special-meal .meal-description,
.selected-meals-list .meal-item.special-meal .meal-price,
.selected-meals-list .special-meal .meal-quantity {
    color: var(--header-bg-color);
}

.meal-item-template .meal-item-top {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.meal-qty {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

.meal-item-top .meal-thumb-wrapper {
    position: relative;
}

.meal-thumb-wrapper .meal-thumb-img {
    width: 90px;
    height: 60px;
    object-fit: cover;
    border-radius: 0px;
}

.meal-thumb-wrapper .special-price-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--price-highlight-color);
    color: var(--header-bg-color);
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    display: none;
}

.meal-details .meal-name {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
}

.meal-details .meal-description {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 12px;
    color: var(--meal-info-text-color);
}

.mobile-cart-overlay {
    display: none;
    position: fixed;
    bottom: 90px;
    left: 0;
    right: 0;
    height: calc(80vh - 140px);
    background: var(--header-bg-color);
    z-index: 999;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mobile-cart-overlay.show {
    transform: translateY(0);
    display: block;
}

.mobile-cart-overlay .cart-items-container {
    flex: 1;
    padding: 10px 20px;
    overflow: visible;
    max-height: 200px;
}

.mobile-cart-content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.mobile-cart-overlay .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 40px 20px 10px 20px;
    border-bottom: 1px solid var(--meals-cart-border-color);
}

.mobile-cart-overlay .close-cart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    background: none;
    border: none;
    font-size: 24px;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-cart-overlay .cart-items-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px 20px;
}

.order-summary-promo .promo-input-container {
    width: 100%;
}

.order-summary-promo .form-control {
    height: 35px;
    font-size: 16px;
    padding: 10px 15px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.order-summary-promo .btn-primary {
    height: 35px;
    padding: 0px 20px;
    background: linear-gradient(to right, #AF2081, #533174);
    font-size: 16px;
    border: none;
}

.order-summary-promo #promoError {
    color: var(--price-highlight-color);
    font-size: 12px;
    display: block;
    width: 100%;
}

/* Media Query for smaller screens */
@media (max-width: 767px) {

    .breadcrumb-item+.breadcrumb-item::before {
        margin: 0 0;
    }

    .card-description .meal-count {
        font-size: 20px;
    }

    .plans-page-footer .get-started-btn {
        width: 100%;
        padding: 12px 16px;
        transition: none;
    }

    .common-questions-main {
        max-width: 100%;
    }

    .days-page-main .delivery-day-main,
    .days-page-main .common-question-header {
        font-size: 30px;
    }

    .common-questions-main .common-question-header {
        font-size: 30px;
    }

    .days-page-main .common-question-header {
        max-width: 100%;
    }

    .accordion-main-panel {
        max-width: 100%;
        margin-bottom: 140px;
    }

    .accordion-header .accordion-button {
        padding: 0;
    }

    .meal-stats .gluten-stats {
        padding: 0px 5px;
    }

    .meal-stats .calories-stats,
    .meal-stats .carbs-stats,
    .meal-stats .proteins-stats {
        padding: 0px 9px;
    }

    #checkout-section .checkout-card {
        padding: 5px 10px;
    }

    .mobile-cart-overlay.show+.mobile-cart {
        box-shadow: none;
    }
}