:root {
    --header-text-color: #000000;
    --header-bg-color: #ffffff;
    --header-box-shadow-color: #0000001a;
    --header-active-link-color: #3167FF;
    --price-highlight-color: #D75D33;
    --plans-page-bg-color: #FFFDF7;
    --plans-page-text-color: #333333;
    --meal-info-text-color: #707070;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../font/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../font/Roboto-Bold.ttf") format("truetype");
}

/* Body Styles */
.main-container {
    font-family: 'Roboto-Regular', sans-serif;
}

.main-container .plans-page-body {
    background-color: var(--plans-page-bg-color);
}

.plans-page-body .plan-page-main {
    width: 100%;
    max-width: 1050px;
}

/* NavBar Styles */
.main-container .breadcrumb-nav {
    background-color: var(--header-bg-color);
    box-shadow: 0 1px 3px var(--header-box-shadow-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: var(--header-text-color);
    margin: 0 12px;
}

.breadcrumb .breadcrumb-link-active {
    color: var(--header-active-link-color);
    font-weight: 700;
    font-size: 14px;
}

.breadcrumb .breadcrumb-link {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    cursor: default;
}

/* Main Content Styles */
.plan-page-header .logo {
    width: 100%;
    max-width: 80px;
    height: auto;
}

.plan-page-header .main-title {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: var(--plans-page-text-color);
}

.plan-page-header .main-description {
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
    color: var(--plans-page-text-color);
}

.plan-page-header .price-highlight {
    color: var(--price-highlight-color);
    font-weight: 600;
}

.plan-page-header .main-description-highlight {
    font-family: 'Roboto-Bold', sans-serif;
}

/* Card Styles */
.meal-card-wrapper {
    cursor: pointer;
}

.meal-card-wrapper .meal-plan-card {
    border-radius: 15px;
    border: none;
    position: relative;
}

.meal-plan-card .image-container {
    /* overflow: hidden; */
    border-radius: 15px;
}

.image-container .card-img-top {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
    max-height: 200px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    display: block;
}

@keyframes blink-img {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-container:hover .card-img-top {
    transform: scale(1.1);
    animation: blink-img 0.2s steps(1, start);
}

.meal-plan-card .save-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--header-bg-color);
    color: var(--plans-page-text-color);
    padding: 1px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
}

.card-description {
    padding-top: 8px;
}

.card-description .meal-count {
    font-size: 24px;
    color: var(--header-text-color);
    font-family: 'Roboto-Bold', sans-serif;
}

.card-description .per-week {
    font-size: 14px;
    color: var(--header-text-color);
    font-family: 'Roboto-Medium', sans-serif;
}

.price-info .price-highlight {
    color: var(--price-highlight-color);
    font-family: 'Roboto-Bold', sans-serif;
}

.card-description .plan-price {
    font-size: 16px;
    font-family: 'Roboto-Medium', sans-serif;
}

.card-description .per-meal-price {
    color: var(--header-text-color);
    font-size: 16px;
    margin: 0;
    font-family: 'Roboto-Medium', sans-serif;
}

/* Footer Styles */
.plans-page-footer .shipping-text {
    color: var(--header-text-color);
    font-size: 14px;
}

.plans-page-footer .get-started-btn {
    display: inline-block;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 5px;
    transition: all 0.3s ease;
    min-width: 160px;
}

.plans-page-footer .get-started-btn:hover {
    min-width: 400px;
}

/* Delivery Date Section */
.days-page-main {
    background-color: var(--plans-page-bg-color);
}

.delivery-day-main {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 48px;
}

.days-page-main .delivery-date-section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.delivery-date-section .delivery-dates-container {
    background: var(--header-bg-color);
    overflow-y: auto;
    height: 100%;
    max-height: 350px;
    border-top: 1px solid #000;
}

.delivery-dates-container .date-option {
    padding: 15px 20px;
    border-top: 0.5px solid var(--header-text-color);
    border-left: 1px solid var(--header-text-color);
    border-bottom: 0.5px solid var(--header-text-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease, border-left 0.2s ease;
    position: relative;
    background: var(--header-bg-color);
}

.delivery-dates-container .date-option:first-child {
    border-top: none;
}

.delivery-dates-container .date-option:last-child {
    border-bottom: none;
}

.delivery-dates-container .date-option:hover {
    transform: translateX(10px);
}

.date-option.selected {
    border-left: 8px solid var(--price-highlight-color);
}

.delivery-dates-container .date-text {
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--plans-page-text-color);
    font-size: 14px;
}

.date-option .most-popular-tag {
    color: var(--price-highlight-color);
    font-size: 12px;
    font-family: 'Roboto-Regular', sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
}

.date-option .most-popular-tag::before {
    content: "☆";
    font-size: 12px;
}

.days-page-main.container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.delivery-date-section .next-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    border: none;
    border-radius: 8px;
    font-family: 'Roboto-Medium', sans-serif;
    cursor: pointer;
    font-size: 18px;
}

.delivery-date-section .selected-date {
    font-family: 'Roboto-Bold', sans-serif;
    color: var(--plans-page-text-color);
}

.common-question-header {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 48px;
}

.accordion-header .accordion-button {
    font-size: 16px;
    font-family: "Roboto-Medium", sans-serif;
    color: var(--header-text-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--plans-page-text-color);
    height: 100%;
    min-height: 70px;
}

.accordion-header .accordion-button:not(.collapsed) {
    color: var(--price-highlight-color);
    box-shadow: none;
}

.accordion-header .accordion-button.collapsed {
    height: 100%;
    min-height: 70px;
}

.accordion-main-panel {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.accordion-main-panel .accordion-panel-item {
    border: none;
    border-bottom: 1px solid var(--accordian-bottom-border);
    background-color: var(--plans-page-bg-color);
}

.accordion-button::after {
    display: none;
}

.accordion-button .bi-chevron-down {
    color: var(--price-highlight-color);
    text-shadow: 0 0 1px var(--price-highlight-color), 0 0 1px var(--price-highlight-color);
    font-size: 18px;
}

.accordion-button.collapsed .bi-chevron-down {
    transform: rotate(0deg);
}

.accordion-button:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.accordion-description {
    width: 100%;
    max-width: 97%;
    font-size: 14px;
    margin: auto;
}

/* Meals Section Styles */
#meals-section {
    padding: 20px 0;
    background: var(--header-bg-color);
}

.meal-card {
    background: var(--header-bg-color);
    border: 1px solid var(--meal-info-text-color);
    border-radius: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.meal-card .meal-image-container {
    position: relative;
    padding-top: 68%;
}

.meal-image-container .meal-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.meal-card .meal-info {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.meal-info .meal-name {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    color: var(--plans-page-text-color);
}

.meal-info .meal-ingredients {
    font-size: 12px;
    color: var(--meal-info-text-color);
}

.meal-footer .meal-stats {
    display: flex;
    align-items: center;
    color: var(--meal-info-text-color);
    gap: 6px;
}

.meal-stats .stat-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.meal-stats .stat-value {
    font-size: 12px;
    color: var(--meal-info-text-color);
}

.meal-stats .stat-label {
    font-size: 12px;
    color: var(--meal-info-text-color);
}

.meal-stats .add-meal-btn {
    padding: 8px 20px;
    background: linear-gradient(to right, #AF2081, #533174);
    color: var(--header-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.meal-card.special {
    background: var(--header-text-color);
    color: var(--header-bg-color);
}

.meal-card.special .meal-name,
.meal-card.special .meal-ingredients,
.meal-card.special .stat-value,
.meal-card.special .stat-label {
    color: var(--header-bg-color);
}

.meal-card.special .add-meal-btn {
    background: linear-gradient(to right, #AF2081, #533174);
}

/* Media Query for smaller screens */
@media (max-width: 767px) {

    .breadcrumb-item+.breadcrumb-item::before {
        margin: 0 0;
    }

    .card-description .meal-count {
        font-size: 18px;
    }

    .plans-page-footer .get-started-btn {
        width: 100%;
        padding: 12px 16px;
        transition: none;
    }

    .days-page-main .delivery-day-main,
    .days-page-main .common-question-header {
        font-size: 39px;
    }

    .accordion-main-panel {
        max-width: 100%;
    }

    .accordion-header .accordion-button {
        padding: 0;
    }
}